@import "tailwindcss";

.card-admin {
    @apply bg-white rounded-lg shadow p-6 hover:shadow-lg transition ease-in-out duration-200;
}

.opis {
    height: 4.5em;
    overflow: hidden;
}

button {
    cursor: pointer;
}